asgiref==3.8.1
backports.tarfile==1.2.0
blinker==1.8.2
build==1.2.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
Cython==3.0.11
Django==5.1.1
docutils==0.21.2
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.4
keyring==25.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.5.0
nh3==0.2.18
packaging==24.1
pkginfo==1.10.0
psx-syntax==0.0.2
Pygments==2.18.0
pyPEG2==2.15.1
pyproject_hooks==1.2.0
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.2
sqlparse==0.5.1
twine==5.1.1
u-msgpack-python==2.7.2
urllib3==2.2.3
Werkzeug==3.0.4
zipp==3.20.2
